/* Estilos básicos do corpo e header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px;
}

nav {
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu a {
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}

.menu a:hover {
    background-color: #575757;
}

/* Estilos do submenu */
.submenu .sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    min-width: 200px; /* Largura mínima do submenu */
}

.submenu:hover .sub {
    display: block;
}

.sub li a {
    padding: 10px 20px;
    white-space: nowrap;
}

.sub li a:hover {
    background-color: #575757;
}
